* {
    color: white;
    text-align: center;
}

body {
    background-color: white;   
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: bd-micronfont, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    left: 50%;
    font-size: 10vw;
    margin: 0;
    line-height: 9vw;;
    padding-top: 2vw;
}

h2 {
    font-family: noka, sans-serif;
    color: white;
    font-weight: normal;
    font-size: 4vw;
}

img {
    width: 26%;
    /* position: relative; */
}

h3 {
    font-size: 1.5vw;
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

nav {
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-align: center;
    left: 50%;
    font-size: 1.5vw; 
    display: flex;
    justify-content: space-between;
    width: 13%;
    float: none;
    position: absolute;
    padding-top: 5%;
    transform: translate(-50%, -50%);
}

a, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#register, #login {
    border: 1px solid white;
    border-radius: 100px;
    padding: 5%;
}

#scrolling1 {
    font-size: 4vw;
    white-space: nowrap;
    display:inline-block;
    position: absolute;
    animation: marquee1 15s linear infinite;    
    text-align: left;
    /* border: 1px solid white; */
    padding: 1%;
    left: 5px;
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
}

#scrolling2 {
    font-size: 4vw;
    white-space: nowrap;
    display:inline-block;
    position: absolute;
    animation: marquee2 15s linear infinite;  
    text-align: left;
    /* border: 1px solid white; */
    padding: 1%;
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
}

@keyframes marquee1 {
    0% {
        transform: rotate(45deg) translateX(10%) translateY(800%);
    }
    100% {
        transform: rotate(45deg) translateX(-100%) translateY(800%);
    }
}

@keyframes marquee2 {
    0% {
        transform: rotate(45deg) translateX(10%) translateY(100%);
    }
    100% {
        transform: rotate(45deg) translateX(-100%) translateY(100%);
    }
}

.radial-gradient {
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index: -1000;
  }


