body {
    padding-top: 1%;
    overflow: hidden;
    color: white;
}

.radial-gradient {
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index: -1000;
  }

  h1 {
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;    
    color: white;
    font-weight: normal;
    font-size: 4vw;
    position: absolute;
}

#shop:hover {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;  
  }
  
  .header {
    height: 40vh;
    color: #fff;
    font-size: 7vw;
    padding-top: 3%;
    margin: 0;
    text-align: center;
  }

  #mechamecca {
    font-family: bd-micronfont, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .content {
    display: flex;
    flex: 1;
    color: #000; 
    padding-left: 1vw;
    padding-right: 1vw;
  }
  
  .columns1, .columns2{
    display: flex;
    flex:1;
    gap: 6px;
    height: 24vh;
    margin-bottom: 0;
  
  }
  
  .middle{
    flex: 1;
    order: 2;
  }
  
  .left{
    width: 33%;
    order: 1;
  }
  
  .right{ 
    width: 33%;
    order: 3;
  }
  
  .middle, .left, .right {
    color: white;
    border: 1px dashed white;
    border-radius: 25px;
    overflow-x: hidden;
  }
  
  img {
    width: 70%;
    padding-left: 15%;
  }
  
  #shop, #search, #cont {
    margin: 1.5%;
    font-size: 1.2vw;
    margin-top: 0;
  }
  
  #navigation {
    display: flex;
    justify-content: center;
    width: 110%;
    text-align: center;
    align-items: center;
  }
  
  #search input{
    background: transparent;
    border: none;
    color: white;
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;    font-size: 1.2vw;
  }
  
  #search input:hover {
    text-decoration: underline;
  }
  
  #search ::placeholder {
    color: white;
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;    
    font-size: 1.2vw;
  }
  
  #search2 ::placeholder{
    color: white;
  }
  
  #search2 input {
    background: transparent;
    border: none;
    color: white;
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;    font-size: 1.2vw;
    text-align: center;
  }
  
  #shop:hover, #search:hover, #cont:hover {
    text-decoration: underline;
  }
  
  p {
    font-size: 2vh;

  }
  
  #price {
    background: transparent;
    outline: none;
    color: white;
    border: none;
    font-size: 2vw;
    text-align: center;
  } 
  
  #quantity1, #quantity2, #quantity3, #quantity4, #quantity5, #quantity6 {
    font-size: 1.5vw;
    padding: 1%;
    width: 8%;
    border: 1px solid white;
    border-radius: 100px;
    background: transparent;
  }
  
  input[type=number] {
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;    color: white;
  }
  
  #checkout {
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;    
    color: white;
    font-size: 2vw;
    padding-top: 1%;
    padding-bottom: 2%;
    border: none;
    background: transparent;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  
  #checkout:hover {
    text-decoration: underline;
    transition: text-decoration 0.3s linear;
  }
  
  h2 {
    font-family: bd-micronfont, sans-serif;
    font-weight: 400;
    font-style: normal;  
    color: white;
    font-weight: normal;
    font-size: 4vw;
  }

#subtotal, #grandtotal {
  color: white;
  text-align: center;
}

  /* /// */

html,
body {
    margin: 0;
    font-family: roc-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;}

.vertical-section{
  height: 100vh;
}

main {
  overflow-x: hidden;
  display: flex;
  position: sticky;
  top:0;
}

h1 {
  margin: 0;
  padding: 0;
}

section {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
}

#shopForm {
  color: white;
  font-size: 2vw;
}

#shopForm input[type=text], #shopForm input[type=number], #shopForm input[type=email] {
  background: transparent;
  outline: none;
  color: white;
  border: none;
  border-bottom: solid 1px white;
  font-size: 2vw;
  text-align: left;
  font-family: roc-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;  width: 40%;
}

input {
  color: white;
}

::placeholder {
  color:white;
  text-align: left;
}

#check, #reset {
  color: white;
  font-size: 2vw;
  padding: 2%;
  border: 1px solid white;
  border-radius: 100px;
  background: transparent;
  font-family: roc-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;}

#check:hover, #reset:hover {
  background-color: #7892ab;
  transition: background-color 1000ms linear;}

#thanks {
  font-size: 2vw;
}




















